:root{
    /*------------- COLORS ---------------*/

    --primary-color: #482FF7;
    --secondary-color: #FFC200;
    --tertiary-color: #00AEFF;
    --quaternary-color: #FF6C5F;

    /* LIGHT */
    --primary-light-color: #EAE7FE;
    --secondary-light-color: #FFFAE7;
    --tertiary-light-color: #E3F6FF;
    --quaternary-light-color: #FFEFED;
    --grey-light-color: #F5F5F5;

    /* CONTENT */
    --black-color: #1E1E1E;
    --white-color: #FFFFFF;
    --contenu-color: #5C5C5C;
    --grey-color: #CACCD1;
    
    /* HOVER */
    --primary-hover-color: #6853F8;
    --secondary-hover-color: #FFCC2B;

    /* FONT SIZE*/
    --text-large: 55px;
    --text-medium: 45px;
    --text-regular: 16px;
    --text-small: 13px;

    /* BOX SHADOW */
    --box-shadows-main: 0px 7px 30px  rgba(174, 170, 207, 0.16);

    /* BORDER RADIUS */
    --border-radius-main: .5rem;
    --border-radius-second: 2rem;

    /* TRANSITION */
    --animate: all .3s ease-in-out;
    
}

*{
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

/*------------- GLOBAL ---------------*/

section{
    padding: 50px 0;
}
p.text-content{
    color: var(--contenu-color);
    margin-top: 30px;
    margin: 0 auto;
    line-height: 1.9;
}
.mon-d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grand-height{
    height: 100vh;
}
/*------------- BOUTONS ---------------*/

.mon-btn{
    margin-top: 10px;
    padding: 12px 2rem !important;
    border-radius: 8px !important;
    font-weight: 600 !important;
    border: none !important;
    letter-spacing: normal;
    transition: var(--animate);
    letter-spacing: 2px;
    white-space: nowrap;
    outline: none;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  
}
.mon-btn:hover{
    background-color: var(--primary-hover-color);
    color: var(--white-color);
}
.mon-btn-border{
    margin-top: 10px;
    padding: 12px 2rem;
    border-radius: 8px;
    font-weight: 600;
    border: solid 2px var(--black-color);
    transition: var(--animate);
    letter-spacing: 2px;
    outline: none;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.mon-btn-border:hover{
    color: var(--black-color);
    background-color: var(--grey-light-color);
}

a{
    text-decoration: none;
}

/*------------- HEADER ---------------*/
#navbar{
    background-color:#FFFFFF;
    height:auto;
    position:fixed;
    top:0;
    -webkit-transition: var(--animate);
    transition: var(--animate);
    z-index:999;
    /*box-shadow: 0px 2px 15px 2px rgba(150, 147, 147, 0.1);*/
    box-shadow: 0px 11px 15px  rgba(174, 170, 207, 0.16);
}
.menu-toggle{
    display: none;
}

#logo img{
    display: block;
    max-width: 100%;
    min-width: 125px;
    height: 65px;
}

/*--------- menu --------------*/

/*.active:hover{
    color: #FFFFFF;
}*/

.mon-nav a{
    color: var(--black-color);
    font-weight: 600;
}
.mon-nav a:hover{
    color: var(--primary-color);
    font-weight: 600;
}

.mon-nav{
    position: relative;
    background: linear-gradient(to top, rgba(72, 47, 247) 0%, rgba(72, 47, 247) 10%, transparent 10.01%) no-repeat center bottom / 0 50%;
    transition: background-size .3s;
}

.mon-nav:hover{

    background-size: 30% 100%;

}

.active{
    background-size: 30% 100%;
}
/*--------- Fin menu --------------*/



.btn-recruteur{
    color: var(--black-color);
    background-color: transparent;
}
.btn-recruteur:hover, .btn-connecter:hover{
    text-decoration: none;
}
.btn-connecter{
    color: var(--white-color);
    background-color: var(--primary-color);
    border: solid 2px var(--primary-color) !important;
    margin-left: 15px;
}
.btn-connecter:hover{
    border: solid 2px var(--primary-hover-color) !important;
}

/*--------------------- HERO -------------------------*/

h1.main-titre{
    font-size: var(--text-large);
    font-weight: 700;
    color: var(--black-color);
}
.gauche{
    margin-top: 100px;
}
.mon-d-flex-between{
    display: flex;
    justify-content: space-between;
}
.droit{
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}
.droit img{
    width: 100%;
    height: 100%;
}

p.text-hero{
    color: var(--contenu-color);
    margin-top: 50px;
    line-height: 1.9;
    font-size: 18px;
}
.btn-lancer{
    color: var(--black-color);
    background-color: var(--secondary-color);
    border: solid 2px var(--secondary-color);
    margin-left: 15px;
    margin-top: 0;
    width: 60%;
}
.btn-lancer:hover{
    color: var(--black-color);
    background-color: var(--secondary-hover-color);
}

.container-search{
    
    margin-top: 50px;
}
.container-pastille{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 2rem;
}
.container-pastille .span-langage{
    background-color: var(--primary-light-color);
    padding: 12px 30px;
    color: var(--primary-color);
    border-radius: var(--border-radius-main);
    font-weight: 500;
    cursor: pointer;
    transition: var(--animate);
}
.container-pastille .span-langage:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* .image-dev-junior{
    border-bottom-left-radius: 500px;
} */
/*.hero{
     height: 500px;
    background-color: var(--primary-color); 
}*/
/*--------------------- SECTION EXPLICATION ET GENIUS MOIS-------------------------*/
.explication{
    width: 100%;
    height: auto;
    background-color: var(--grey-light-color);
}
.title-section h2{
    font-weight: 600;
    font-size: var(--text-medium);
}
.bloc-explication{
    max-width: 350px;
    height: 350px;
    margin-top: 50px;
    background-color: transparent;
    border-radius: var(--border-radius-main);
    box-shadow: var(--box-shadows-main);
}
.container-blocs-explication, .container-blocs-genius-mois{
    display: flex;
    justify-content: space-around;
}
.blocs-genius-mois{
    max-width: 200px;
    height: 200px;
    margin-top: 50px;
    background-color: var(--grey-light-color);
    border-radius: var(--border-radius-main);
}
.sous-genius{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sous-genius h3{
    font-weight: 600;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}

/*--------------------- SECTION REJOIGNEZ-NOUS ET ABONNE-TOI -------------------------*/
.container-rejoignez{
    width: 100%;
    height: 400px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius-second);
    margin-top: 50px;
}
.container-abonne{
    margin: 0 auto;
    margin-top: 50px;
}
.mon-i{
    font-size: 1.5rem;
}
/*--------------------- FOOTER -------------------------*/
.footer{
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 50px 0;
    display: flex;
    align-content: center;
}
.copyright{
    background-color: #000000;
    color: var(--grey-light-color);
    text-align: center;
    padding: 1rem 0 .5rem 0;
}
p.description-footer{
    text-align: left;
    line-height: 1.7;
}
.footer ul span{
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}
.footer li{
    list-style: none;
    margin-bottom: 10px;
    transition: var(--animate);
    cursor: pointer;
}
.footer li:hover{
    text-decoration: underline;
}
.div-social{
    display: flex;
    align-content: center;
}
.social-bouton{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius-main);
    background-color: var(--white-color);
    color: var(--black-color);
    margin-right: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding-top: 3px;
}
.div-social a:hover{
    text-decoration: none;
    color: var(--black-color);
}
/*--------------------- RESULTAT RECHERCHE -------------------------*/
.hero-recherche{
    background-image: url("/assets/images/dev-junior2.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 150px;
    width: 100%;
    position: relative;
}

.hero-recherche::before{
    position: absolute;
    content:'';
    /* background-color: rgba(72, 47, 247, .3); */
    background-color: rgba(30, 30, 30, .3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.centrer-h-recherche{
    color: var(--white-color);
    margin: 0 auto;
    text-align: center;
    z-index: 99;
}
.centrer-h-recherche h2 span{
    font-weight: 600;
}
.form-resultats{
    border: solid 1px var(--grey-light-color) !important;
    color: var(--white-color) !important;
}
.form-resultats::placeholder{
    color: var(--white-color) !important;
}
.title-section-recherche{
    display: flex;
    justify-content: space-between;
}
.gauche-card img{
    width: 100%;
    height: 100%;
}
.container-resultats{
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-title-resultats{
    background-color: var(--grey-light-color);
}
.ma-card{
    max-width: 680px;
    border-radius: var(--border-radius-main);
    border: 1px solid var(--contenu-color);
    overflow: hidden;
    transition: var(--animate);
}
.ma-card:hover{
    cursor: pointer;
    border: 1px solid var(--primary-color) !important;
    box-shadow: var(--box-shadows-main);
}

.ma-card-body h5{
    font-weight: 600;
}
.ma-card-body ul li{
    list-style: none;
    margin-top: .2rem;
}
.ma-card-body ul{
    padding-left: 0;
}
.ma-card-body{
    padding-bottom: 0;
}

.ma-card-subtitle{
    color: var(--contenu-color);
    font-weight: 200;
    margin-top: 10px;
}
.text-content-card{
    color: var(--contenu-color);
    line-height: 1.6;
}
/* ------------- FORMULAIRE -------------*/

.formulaire{
    width: 60vh;
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, .15);
    /* box-shadow: var(--box-shadows-main); */
}
.formulaire-inscription{
    width: 50rem;
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, .15);
    /* box-shadow: var(--box-shadows-main); */
}
.mon-label{
    font-weight: 600;
}
.container-envoye{
    display: flex;
    justify-content:flex-end;
 }

textarea:focus {
    border: solid 1px var(--primary-color) !important;
    box-shadow: none !important;
}

p.bas-formulaire{
    text-align: center;
}
input::placeholder{
    font-weight: 400;
}
input[type=text], input[type=tel], 
input[type=search], input[type=file], 
input[type=email], input[type=password] {
    padding: 12px 20px;
    background-color: transparent !important;
    color: var(--grey-color);
    font-weight: 600;
    border: solid 1px var(--contenu-color);
}
 input[type=search]:focus, input[type=email]:focus,
 input[type=text]:focus, input[type=tel]:focus, input[type=file]:focus, 
  input[type=password]:focus {
    box-shadow: none;
    border: solid 1px var(--primary-color);
    color: var(--contenu-color);
}

/* ------------- Styliser un peu le CHECKBOX -------------*/
input[type=checkbox]{
    cursor: pointer;
}
/* Aspect de la case */
[type="checkbox"]:not(:checked) + label::before,
[type="checkbox"]:checked + label::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 1.4em;
	height: 1.4em;
	border: 1px solid #aaa;
	background: var(--white-color);
	border-radius: .2em;
	border: 1px solid var(--primary-color);
	transition: var(--animate);
}
/* Aspect de la coche */
[type="checkbox"]:not(:checked) + label::after,
[type="checkbox"]:checked + label::after {
	content: '✓';
	speak: never; /* Pour être sûr que le lecteur d'écran ne lira pas "fois" */
	position: absolute;
	top: .38em;
	left: .18em;
	font-size: 1.6em;
	color: var(--primary-color);
	line-height: 0;
	transition: var(--animate); /* Petite transition */
}

/* Aspect non cochée */
[type="checkbox"]:not(:checked) + label::after {
	opacity: 0;
	transform: scale(0) rotate(45deg);
}

/* Aspect cochée */
[type="checkbox"]:checked + label::after {
	opacity: 1;
	transform: scale(1) rotate(0);
}
.btn-connexion{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.btn-connexion:hover{
    color: var(--white-color);
    background-color: var(--primary-hover-color);
}
.bas-formulaire a{
    text-decoration: none;
    color: var(--primary-hover-color);
}
/* Disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label::before,
[type="checkbox"]:disabled:checked + label::before {
	box-shadow: none;
	border-color: var(--contenu-color)
	background-color: var(--grey-light-color);
}

/* Accessibility focus
[type="checkbox"]:checked:focus + label::before,
[type="checkbox"]:not(:checked):focus + label::before {
	box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(203, 34, 237, .2);
} */
[type="checkbox"] {
	position: absolute;
	left: 0;
	opacity: 0.01;
}

[type="checkbox"] + label {
	position: relative;
	padding-left: 2.3em;
	font-size: 1.05em;
	line-height: 1.7;
	cursor: pointer; 
}

/*--------------------- MEDIAS QUERY -------------------------*/


@media screen and (max-width:576px){

    /* header responsive */
   #navbar{
        padding-left:0; 
        padding-right:0;
    }
   .navbar{
        padding-left: 15px;
    }
    .navigation{
        display:none;
    }
    .container-nav-droit{
        display:none;
    }
    /*--------------------------- Bouton menu responsive -----------------------*/

    .menu-toggle {
        display: block;
        position: absolute;
        /* padding: 0.8em 0; */
        top: 50%;
        right: 15px;
        cursor: pointer;
        z-index: 9999;
    }
    
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        content: '';
        display: block;
        background: var(--primary-color);
        height: 3px;
        width: 2rem;
        border-radius: 3px;
        -webkit-transition: var(--animate);
        transition: var(--animate);
    }
    
    .hamburger::before {
        -webkit-transform: translateY(-8px);
                transform: translateY(-8px);
    }
    
    .hamburger::after {
        -webkit-transform: translateY(6px);
                transform: translateY(6px);
    }
    
    .nav .hamburger {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }
    
    .nav .hamburger::before {
        display: none;
    }
    
    .nav .hamburger::after {
        -webkit-transform: translateY(-1px) rotate(-90deg);
                transform: translateY(-1px) rotate(-90deg);
    }
    .opening {
        display:block;
    }

    /* Empiler les élements du menu les uns en dessou des autres*/
    nav {
        margin: 0;
        padding: 0;
    }
    .mon-nav a{
        color: var(--white-color);
    }
    ul.nav{
        display: flex;
        flex-direction:column;
        list-style-type: none;
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:60vh;
        background:var(--black-color);
        color:var(--white-color) !important;
        padding-top:30px;
        margin: 0;
        text-align:center;
        font-size:1.7rem;
        box-shadow: 0px 2px 15px 2px rgba(150, 147, 147, 0.1); 
        transition: var(--animate);
    }
    .dans-menuhamburger{
        display: block;
        position: absolute;
        bottom:0;
        top:250px;
        padding-top:30px;
        padding-bottom:0;
        width:100%;
        height:150px;
        background: rgba(255,255,255,.13);
        font-size:1rem;
        color:var(--white-color);

    }

    .div-social{
        margin-bottom: 30px;
    }
    .footer-ul{
        padding-left: 0;
        margin-bottom: 30px;
    }
    .text-content{
        width: 90%;
    }
    .container-rejoignez{
        margin-left: 15px;
        margin-right: 15px;
    }
    section{
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width:576px) and (max-width:768px){
    
    /* header responsive */
   #navbar{
    padding-left:0; 
    padding-right:0;
    }
   .navbar{
    padding-left: 15px;
    width: 100%;
    }
    .navigation{
        display:none;
    }
    .container-nav-droit{
        display:none;
    }
    /*--------------------------- Bouton menu responsive -----------------------*/

    .menu-toggle {
        display: block;
        position: absolute;
        /* padding: 0.8em 0; */
        top: 50%;
        right: 15px;
        cursor: pointer;
        z-index: 9999;
    }
    
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        content: '';
        display: block;
        background: var(--primary-color);
        height: 3px;
        width: 2rem;
        border-radius: 3px;
        -webkit-transition: var(--animate);
        transition: var(--animate);
    }
    
    .hamburger::before {
        -webkit-transform: translateY(-8px);
                transform: translateY(-8px);
    }
    
    .hamburger::after {
        -webkit-transform: translateY(6px);
                transform: translateY(6px);
    }
    
    .nav .hamburger {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }
    
    .nav .hamburger::before {
        display: none;
    }
    
    .nav .hamburger::after {
        -webkit-transform: translateY(-1px) rotate(-90deg);
                transform: translateY(-1px) rotate(-90deg);
    }
    .opening {
        display:block;
    }

    /* Empiler les élements du menu les uns en dessou des autres*/
    nav {
        margin: 0;
        padding: 0;
    }
    .mon-nav a{
        color: var(--white-color);
    }
    ul.nav{
        display: flex;
        flex-direction:column;
        list-style-type: none;
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:60vh;
        background:var(--black-color);
        color:var(--white-color);
        padding-top:30px;
        margin: 0;
        text-align:center;
        font-size:1.7rem;
        box-shadow: 0px 2px 15px 2px rgba(150, 147, 147, 0.1); 
        transition: 0.5s;   
    }
    .dans-menuhamburger{
        display: block;
        position: absolute;
        bottom:0;
        top:250px;
        padding-top:30px;
        padding-bottom:0;
        width:100%;
        height:150px;
        background: rgba(255,255,255,.13);
        font-size:1rem;
        color:var(--white-color);
    }

    .div-social{
        margin-bottom: 30px;
    }
    .footer-ul{
        padding-left: 0;
        margin-bottom: 30px;
    }
    .text-content{
        width: 90%;
    }
    .container-rejoignez{
        margin-left: 15px;
        margin-right: 15px;
    }
    section{
        padding-left: 15px;
        padding-right: 15px;
    }
}


@media screen and (min-width:768px) and (max-width:992px){

    /* header responsive */
    #navbar{
        padding-left:0; 
        padding-right:0;
        }
    .navbar{
        padding-left: 15px;
        }
        .navigation{
            display:none;
        }
        .container-nav-droit{
            display:none;
        }
    /*--------------------------- Bouton menu responsive -----------------------*/

    .menu-toggle {
        display: block;
        position: absolute;
        /* padding: 0.8em 0; */
        top: 50%;
        right: 15px;
        cursor: pointer;
        z-index: 9999;
    }
    
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        content: '';
        display: block;
        background: var(--primary-color);
        height: 3px;
        width: 2rem;
        border-radius: 3px;
        -webkit-transition: var(--animate);
        transition: var(--animate);
    }
    
    .hamburger::before {
        -webkit-transform: translateY(-8px);
                transform: translateY(-8px);
    }
    
    .hamburger::after {
        -webkit-transform: translateY(6px);
                transform: translateY(6px);
    }
    
    .nav .hamburger {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }
    
    .nav .hamburger::before {
        display: none;
    }
    
    .nav .hamburger::after {
        -webkit-transform: translateY(-1px) rotate(-90deg);
                transform: translateY(-1px) rotate(-90deg);
    }
    .opening {
        display:block;
    }

    /* Empiler les élements du menu les uns en dessou des autres*/
    nav {
    margin: 0;
    padding: 0;
    }
    .mon-nav a{
        color: var(--white-color);
    }
    ul.nav{
    display: flex;
    flex-direction:column;
    list-style-type: none;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:60vh;
    background:var(--black-color);
    color:var(--white-color);
    padding-top:30px;
    margin: 0;
    text-align:center;
    font-size:1.7rem;
    box-shadow: 0px 2px 15px 2px rgba(150, 147, 147, 0.1); 
    transition: var(--animate);
    }
    .dans-menuhamburger{
    display: block;
    position: absolute;
    bottom:0;
    top:250px;
    padding-top:30px;
    padding-bottom:0;
    width:100%;
    height:150px;
    background: rgba(255,255,255,.13);
    font-size:1rem;
    color:var(--white-color);
    }

    .div-social{
        margin-bottom: 30px;
    }
    .footer-ul{
        padding-left: 0;
        margin-bottom: 30px;
    }
    .text-content{
        width: 90%;
    }
    .container-rejoignez{
        margin-left: 15px;
        margin-right: 15px;
    }
}